body {
    text-align: center;
    font-family: 'Comfortaa';
    background: url("style/blackmap.jpg");
    color: rgb(245, 245, 245);
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

a{
  color: aliceblue;
  width: 165px;
  font-size: 14px;
}

a:hover{
  text-decoration: underline;
  opacity: 50%;
  color: rgb(107, 107, 107);

}

.dropdown-menu{
  opacity: 80%;
}

.dropdown-menu:hover{
  color: rgb(255, 255, 255);
}

.carousel-wrapper{
  height:400px;
  position:relative;
  width:800px;
  margin:0 auto;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}

.arrow{
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}
 
.arrow-next{
    right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }
}

/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background:url('/100hours.jpg');
  background-size:cover;
  }
.item-2{
  background:url('/rules.jpg');
   background-size:cover;
}
.item-3{
  background:url('/platillos-voladores.jpg');
   background-size:cover;
}
.item-4{
  background:url('/chenmapo.jpg');
   background-size:cover;
}
.item-5{
  background:url('/balthazar.jpg');
   background-size:cover;
}
*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4, #item-5:target ~ .item-5 {
    z-index: 3;
    opacity: 1;
  }
}

