body {
    text-align: center;
    font-family: 'Comfortaa';
    background: url("style/blackmap.jpg");
    color: rgb(245, 245, 245);
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

a{
  color: aliceblue;
  width: 165px;
  font-size: 14px;
}

a:hover{
  text-decoration: underline;
  opacity: 50%;
  color: rgb(107, 107, 107);

}

.dropdown-menu{
  opacity: 80%;
}

.dropdown-menu:hover{
  color: rgb(255, 255, 255);
}

 slider{
     diplay: block;
     width: 50%;
     height: 50%;
     overflow: hidden;
     position: absolute;
}

slider > * {
    position: absolute;
    display: block;
    width: 50%;
    height: 50%;
    animation slide 12x infinoite;
    overflow: hidden;
}

slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url(rules.jpg);
    background size: cover;
    background-position: center;
}

slide:nth-child(2) {
    animation-delay: 2s;
    background-image: url(100hours.jpg);
    background size: cover;
    background-position: center;
}
    
slide:nth-child(3) {
    animation-delay: 5s;
    background-image: url(balthazar.jpg);
    background size: cover;
    background-position: center;
}
    
slide:nth-child(4) {
    animation-delay: 8s;
    background-image: url(100hours.jpg);
    background size: cover;
    background-position: center;
}
    
slide:nth-child(5) {
    animation-delay: 11s;
    background-image: url(platillo-voladores.jpg);
    background size: cover;
    background-position: center;
}
  
slide p {
    font-family: Comfortaa;
    font-size: 70px;
    text-allign: center;
    display: inline-block;
    width: 50%;
    margin-top: 340px;
    color: #fff;
}

@keyframes slide {
    0% { left: 50%; width: 50%}
    5% { left: 0%;}
    25% { left: 0%;}
    30% { left: -50%; width: 100%}
    30.0001% { left: -50%; width: 0%;}
    100% { left: 50%; width: 0%}
}








     
     
